
.analysis-panel {
  flex-basis     : 0;
  flex-shrink    : 1;
  flex-grow      : 1;
  min-width      : 0;
  min-height     : 0;
  display        : flex;
  flex-direction : column;
  justify-items  : flex-start;
  margin-right   : 0.5rem;
}

.analysis-panel:last-of-type {
  margin-right : 0;
}

.analysis-info-panel {
  flex-shrink     : 0;
  flex-grow       : 0;
  min-width       : 0;
  min-height      : 0;
  display         : flex;
  flex-direction  : row;
  justify-content : space-between;
  align-items     : center;
}

.analysis-info-panel.panel:after {
  content : unset !important;
}

.analysis-stats-node {
  flex-shrink     : 0;
  flex-grow       : 0;
  min-width       : 0;
  min-height      : 0;
  display         : flex;
  flex-direction  : row;
  justify-content : space-between;
  align-items     : center;
}

.analysis-stats-node div {
  margin : 0 10px;
}

.analysis-view-panel {
  position    : relative;
  flex-shrink : 1;
  flex-grow   : 1;
  min-width   : 0;
  min-height  : 0;
}

.analysis-indicator {
  width            : 75px;
  padding          : 5px 5px 0 5px;
  background-color : white;
  border-radius    : 5px;
}

.analysis-view-panel .loader {
  z-index  : 99;
  position : absolute;
  top      : calc(50% - 100px);
  left     : calc(50% - 50px);
}

.analysis-view-panel .loader-text {
  color       : #0e4574 !important;
  padding-top : 3em !important;
}

@keyframes load {
  0%, 80%, 100% {
    opacity    : .75;
    box-shadow : 0 0 #0E4574;
    height     : 2rem
  }

  40% {
    opacity    : 1;
    box-shadow : 0 -0.5rem #0E4574;
    height     : 2.5rem
  }
}

.analysis-view-panel .loader-bars:before,
.analysis-view-panel .loader-bars:after,
.analysis-view-panel .loader-bars {
  background : #0E4574;
}

